/* 主题色 */
$theme: #004888;
$theme-light: #4A90E2;

/* 文字颜色 */
$c-info: #24C20D;
$c-error: #FF4848;
$c-hint: #6999C4;
$c-white: white;
$c-black: black;
$c-333: #333333;
$c-666: #666666;
$c-999: #999999;
$c-lightblue:#4A90E2;
/* 输入框颜色 */
$c-border: #BBBBBB;

/* 背景颜色 */
$bg-theme: #C0DAF1;
$bg-disable: #C8C8C8;

/* 文字大小 */
$f-14: 14px;
$f-16: 16px;
$f-18: 18px;
$f-20: 20px;
$f-24: 24px;

/**
 * 设置宽高
 */
@mixin w-h($w, $h){
  width: $w;
  height: $h;
}
/**
 * 设置宽高并设置行高
 */
@mixin w-hh($w, $h){
  width: $w;
  height: $h;
  line-height: $h;
}

/**
 * 圆角矩形，默认白底 8px 圆角
 * $radius: 圆角的大小
 * $bg: 矩形的背景颜色
 */
@mixin radius($radius:4px, $bg:white){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
  background: $bg;
}

/**
 * 边框阴影，直接传值，蓝湖上复制粘贴即可
 */
@mixin shadow($value:(0px 2px 12px 1px rgba(220,220,220,0.5))){
  -webkit-box-shadow: $value;
  -moz-box-shadow: $value;
  box-shadow: $value;
}

/**
 * 颜色类
 */
.c-theme{color: $theme;}
.c-theme-light{color: $theme-light;}
.c-info{color: $c-info;}
.c-error{color: $c-error;}
.c-hint{color: $c-hint;}
.c-white{color: $c-white;}
.c-black{color: $c-black;}
.c-333{color: $c-333;}
.c-666{color: $c-666;}
.c-999{color: $c-999;}
.c-C8{color: $c-999;}
.c-border{color: $bg-disable;}
.c-lightblue{color: $c-lightblue}
/**
 * 文字类
 */
.f-10{font-size: 10px;}
.f-12{font-size: 12px;}
.f-14{font-size: 14px;}
.f-16{font-size: 16px;}
.f-18{font-size: 18px;}
.f-20{font-size: 20px;}
.f-24{font-size: 24px;}
.f-26{font-size: 26px;}
.f-28{font-size: 28px;}
.f-30{font-size: 30px;}
.f-34{font-size: 34px;}
.f-w{font-weight: bold;}
.text-ellipsis{overflow: hidden; text-overflow: ellipsis; white-space: nowrap;} // 单行文字溢出显示 ...

/**
 * 布局类
 */
.t-left{text-align: left;}
.t-right{text-align: right;}
.t-center{text-align: center;}
.v-middle{vertical-align: middle;}
.m-center{margin: 0 auto;}
.block{display: block;}
.inline-block{display: inline-block;}

/**
 * 鼠标样式类
 */
.cursor-p{cursor: pointer;}
.cursor-not{cursor: not-allowed;}

/**
 * 浮动类
 */
.float-l{float: left;}
.float-r{float: right;}
.clear-fix::after{
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

/**
 * 外边距
 */
.ma-5{margin: 5px;}
.mt-5{margin-top: 5px;}
.ml-5{margin-left: 5px;}
.mr-5{margin-right: 5px;}
.mb-5{margin-bottom: 5px;}
.ma-10{margin: 10px;}
.mt-10{margin-top: 10px;}
.ml-10{margin-left: 10px;}
.mr-10{margin-right: 10px;}
.mb-10{margin-bottom: 10px;}
.ma-20{margin: 20px;}
.mt-20{margin-top: 20px;}
.ml-20{margin-left: 20px;}
.mr-20{margin-right: 20px;}
.mb-20{margin-bottom: 20px;}
.ma-15{margin: 15px;}
.mt-15{margin-top: 15px;}
.ml-15{margin-left: 15px;}
.mr-15{margin-right: 15px;}
.mb-15{margin-bottom: 15px;}
.ma-30{margin: 30px;}
.mt-30{margin-top: 30px;}
.ml-30{margin-left: 30px;}
.mr-30{margin-right: 30px;}
.mb-30{margin-bottom: 30px;}
.ma-40{margin: 40px;}
.mt-40{margin-top: 40px;}
.ml-40{margin-left: 40px;}
.mr-40{margin-right: 40px;}
.mb-40{margin-bottom: 40px;}
.ma-50{margin: 50px;}
.mt-50{margin-top: 50px;}
.ml-50{margin-left: 50px;}
.mr-50{margin-right: 50px;}
.mb-50{margin-bottom: 50px;}
.ma-60{margin: 60px;}
.mt-60{margin-top: 60px;}
.ml-60{margin-left: 60px;}
.mr-60{margin-right: 60px;}
.mb-60{margin-bottom: 60px;}
.mt-180{margin-top: 180px;}
.mb-90{margin-bottom: 90px;}
.ml-90{margin-left: 90px;}
.ml-75{margin-left: 75px;}
.mr-470{margin-right: 470px;}
.ml-78{margin-left: 78px;}
.mr-35{margin-right: 35px;}
.ml-35{margin-left: 35px;}

/**
 * 内边距
 */
.pa-10{padding: 10px;}
.pt-10{padding-top: 10px;}
.pl-10{padding-left: 10px;}
.pr-10{padding-right: 10px;}
.pb-10{padding-bottom: 10px;}
.pa-15{padding: 15px;}
.pt-15{padding-top: 15px;}
.pl-15{padding-left: 15px;}
.pr-15{padding-right: 15px;}
.pb-15{padding-bottom: 15px;}
.pa-30{padding: 30px;}
.pt-30{padding-top: 30px;}
.pl-30{padding-left: 30px;}
.pr-30{padding-right: 30px;}
.pb-30{padding-bottom: 30px;}
.pa-60{padding: 60px;}
.pt-60{padding-top: 60px;}
.pl-60{padding-left: 60px;}
.pr-60{padding-right: 60px;}
.pb-60{padding-bottom: 60px;}
.pl-130{padding-left: 130px;}

